.goods-module {
  float: left;
  position: relative;
  width: 160px;
  height: 148px;
  font-size: 12px;
  overflow: hidden;
  margin: 0 20px 20px 0;
  .goods-pic {
    position: relative;
    width: 160px;
    height: 100px;
    display: block;
    overflow: hidden;
    text-align: center;
    border-radius: 4px;
  }
  .title {
    padding-top: 8px;
    height: 40px;
    line-height: 20px;
    transition: all .2s linear;
    color: #222;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
    text-align: left;
  }
  .num {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 20px;
    line-height: 20px;
    color: #99a2aa;
    background-color: #fff;
    transition: all 0.6s;
    font-size: 0;
    .play {
      line-height: 12px;
      height: 14px;
      display: inline-block;
      width: 50%;
      overflow: hidden;
      font-size: 12px;
      vertical-align: bottom;
    }
    .danmu {
      line-height: 12px;
      height: 14px;
      display: inline-block;
      width: 50%;
      overflow: hidden;
      font-size: 12px;
      vertical-align: bottom;
    }
  }
}