.headers {
  height: 170px;
  background-image: url('http://i0.hdslb.com/bfs/archive/4b867b407a643e5265e30e783fe2a77e0f269c91.png@.webp');
  background-size: 100% 100%;
  .header-ul {
    height: 42px;
    line-height: 42px;
    margin: 0;
    padding: 0;
    .header-item {
      display: inline-block;
      list-style: none;
      padding: 0 20px;
      font-size: 12px;
      vertical-align: top;
      &:last-child {
        float: right;
      }
    }
    a {
      color: #ffffff;
      text-decoration-line: none;
    }
  }
}