/*body {
  background-image: url('../assets/images/globalBack.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}*/
ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ol, ul {
    list-style: none;
}

figure {
  padding: 0;
  margin: 0;
}

article, aside, blockquote, body, button, code, dd, details, div, dl, dt, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, input, legend, li, menu, nav, ol, p, pre, section, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}