/*body {
  background-image: url('../assets/images/globalBack.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}*/
ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ol, ul {
    list-style: none;
}

figure {
  padding: 0;
  margin: 0;
}